<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ratings</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1>Ratings</h1>
    </header>
    <ul>
        <li><a href="/">See Vacations</a></li>
        <li><a href="/ratings" class="active">See Ratings</a></li>
        <li><a href="/bookmarks">See Bookmarks</a></li>
        <li style="float:right"><a href="/users">See Users</a></li>
    </ul>
    <% if (ratings && ratings.length > 0) { %>
        <ul>
            <% if(locals.user && locals.user.id == userId) { %>
                <h2>Your Ratings:</h2>
            <% } else { %>
                <h2><%= ratings[0].user_name %>'s Ratings:</h2>
            <% } %>
            <% for (var i = 0; i < ratings.length; i++) { %>
                <li>
                    <h2>Rating ID: <%= ratings[i].id %></h2>
                    <p>Vacation ID: <%= ratings[i].vacation_id %></p>
                    <p>User: <%= ratings[i].user_name %></p>
                    <p>Score: <%= ratings[i].score %></p>
                    <p>Comment: <%= ratings[i].comment %></p>
                    <p>Date: <%= moment(ratings[i].created_at).format('MMMM Do, YYYY') %></p>
                    <% if (ratings[i].updated_at != ratings[i].created_at) { %>
                        <p>Updated At: <%= moment(ratings[i].updated_at).format('MMMM Do, YYYY') %></p>
                    <% } %>
                </li>
            <% } %>
        </ul>
    <% } else if (locals.user && locals.user.id == viewedUserId) { %>
        <p>No ratings available. Consider ratings vacation spots you visited!</p>
    <% } else {%>
        <p>This user has not rated any vacation spots yet.</p>
    <% } %>
</body>