<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacation Spots</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Vacation Spot</h1>
    </header>
    <ul>
        <li><a href="/" class="active">See Vacations</a></li>
        <li><a href="/ratings">See Ratings</a></li>
        <li><a href="/bookmarks">See Bookmarks</a></li>
        <li style="float:right"><a href="/users">See Users</a></li>
    </ul>
    <% if(bookmarked) { %>
        <form action="/bookmarks/<%= id %>?_method=DELETE" method="POST"></form>
            <button type="submit">Remove Bookmark</button>
        </form>
    <% } else {%>
        <form action="/bookmarks/<%= id %>" method="POST">
            <button type="submit">Add Bookmark</button>
        </form>
    <% } %>
    <li>
        <h2><%= vacation.name %></h2>
        <p>Location: <%= vacation.location %></p>
        <p><%= vacation.description %></p>
    </li>
    <a href="/ratings/<%= id %>">Rate this Vacation</a>
</body>